

#blog-container {
    justify-content: center;
}

#blog-card {
    padding: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
    
}

#search-bar {
    margin-inline: auto;
    display:block;
    max-width: 70%
}

/* #caption-test {
    padding: 10px; 
    min-height: 290px;
} */


.form-control {
    font-size: 1rem;
    color: black;
}

.card {
    border:solid;
    border-color: rgb(230, 227, 227);
    text-align: center;
    display:flex;
    justify-content:center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
}

.card-footer {
    padding-bottom: 5px;
}

.like-icon {
    color:rgb(53, 81, 175);
    cursor:pointer;
}



.icon{
    cursor: pointer;
}

.to-like-icon:hover {
    color:rgb(53, 81, 175);
}

.to-delete-icon:hover {
    color: red;
}

.to-edit-icon:hover {
    color: rgb(255, 187, 0);
}




ul.comments-li {
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float:left;
    padding: 10px;
}

ul.comments-li li {
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: rgb(177, 168, 168);
    border-style: solid;
    border-radius: 20px;
    border: 2px solid #ccc;
    margin-top: 5px;
    margin-bottom: 5px;
}

.pic-Div {
    width : 300px;
    margin-block-end: 1em;
    float: left;
    margin-inline-start: 40px;
  }

.pic-Div img {
    max-width: 100%; 
    display:block;
    margin:auto;
}

.blockquote-footer {
    cursor:pointer;
}

.content {
    padding: 10px;
}



  @media only screen and (max-width: 667px) { 
	
	.pic-Div {
        width : 250px;
        margin: auto;
      }

      #pic-and-content {
          display: grid;
          grid-auto-rows: auto;
          justify-content: center;
      }
}