@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

#blog-card {
    padding: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
    
}

.like-icon {
    color:rgb(53, 81, 175);
    cursor:pointer;
}


.card {
    text-align: center;
    display:flex;
    justify-content:center;
}

#blog-container {
    justify-content: center;
}

.pic-Div {
    width : 300px;
    margin-block-end: 1em;
    float: left;
    margin-inline-start: 40px;
  }

.pic-Div img {
    max-width: 100%; 
    display:block;
    margin:auto;
}

.pic-Div-Carousel {
    width : 900px;
    margin-block-end: 1em;
    margin-inline: auto;
  }

.pic-Div-Carousel img {
    max-width: 100%; 
    display:block;
    margin:auto;
}

.modal-lg, .modal-xl {
    max-width: 900px;
}

.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0, 150px);
}