#blog-card {
    padding: 20px;
    margin: 20px;
    margin-bottom: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
    
}

.card {
    text-align: center;
    display:flex;
    justify-content:center;
}

#blog-container {
    justify-content: center;
}

.pic-Div {
    width : 300px;
    margin-block-end: 1em;
    margin-inline: auto;
  }

.pic-Div img {
    max-width: 100%; 
    display:block;
    margin:auto;
}