#list-form {
    margin-inline: auto;
    width: 50%;
}

.lists {
    margin-inline: auto;
    display:flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* align-content: space-around; */
}

#card-body-title {
    padding-bottom: 0px;
    padding-top: 0px;
}

#list-card {
    border: solid;
    border-color:rgb(78, 111, 112);
    margin-bottom: 10px;
    border-radius: 10px;
    margin: 5px;
}



#list-icons{
    display: flex;
    justify-content: flex-end;
    padding-top: 2px;
    padding-right: 10px;
}

#list-title{
    font-size: 30px;
}

.task-form {
    border: none;
    font-size: 20px
}

.tasks-cards {
    margin-inline: auto;
}


#task-card {
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border:solid;
    border-color: rgb(193, 220, 221);
    border-radius: 5px;
    font-family: Comfortaa;
    font-size: 22px;
    padding-bottom: 20px;
}


#finished-task {
    text-decoration: line-through;
}


#task-icons {
    display: flex;
    justify-content: flex-end;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 0px;
    margin-bottom: 0;
    
}

.dropdown-toggle.btn.btn-primary {
    color: #1d2124;
    background-color: #ffffff;
    border: none;
}

