.App {
  text-align: center;
  background-color: antiquewhite;
}

.login_screen {
  min-width: 50%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 20px;
  color: rgb(4, 80, 56); 
  padding-bottom: 10px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  text-align: center;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.file-preview {
margin: 0 10px;
}

.pic-preview {
  width : 250px;
}
.pic-preview img {
   max-width: 100%; 
}

