@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Comfortaa:wght@500&family=Special+Elite&family=Yusei+Magic&display=swap');


.App {
  text-align: center;
  align-items: center; 
  width: 100%;
  height: 100%; 
  /* width: fluid;
  height: fluid;  */
  /* background-repeat: no-repeat;
  background-size: 100% 100%; */
  height:100vh;
  font-family: 'Comfortaa', cursive;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  
} 

#logo-font{
	font-family: 'Special Elite', cursive;
	font-size: 50px;
}

#advice-font{
	font-family: 'Special Elite', cursive;
	font-size: 40px;
	color: rgb(0, 0, 0);
}

html{
	height: 100%;
	display: flex;
	flex-direction: column;
  }


#container {
  width: 100%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* blogform css */
input[type="file"] {
  display: none;
}

.custom-file-upload {
  text-align: center;
  color:white;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 6px;
  padding-bottom: 2px;
  cursor: pointer;
  background-color: hsla(184, 17%, 39%, 0.5);
}

.pic-preview {
  max-width : 250px;
  margin-block-end: 1em;
  margin-inline: auto;
}

.pic-preview img {
   max-width: 100%; 
}



/* nav and header css */

* {
	margin: 0;
	padding: 0;
}

.wrapper {
	/* width: 1170px; */
	margin: 0 auto;
}

.top-nav-wrapper {
	/* width: 1170px; */
	margin: 0 auto;
	display: grid;
	justify-content: center;
	align-items: center;
}

body {
	background: #262626;
}



.todo-list-wrapper {
	width: 88%;
	/* width: 1195px; */
	margin: 0 auto;
	
}

header {
	/* height: 80px; */
	background: #262626;
	width: 100%;
	z-index:10;
	position: fixed;
}


nav {
	/* float: right; */
	line-height: 60px;
	/* margin: auto; */

}

.navbar-light .navbar-nav .nav-link {

	/* display: flex; */
	text-decoration: none;
	font-family: poppins;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px ;
  	color: #fff;
  
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(192, 27, 27);
}





/* #greeting {
	display:flex;
	justify-content: center;
	padding-left: 10px;
	padding-right: 10px;
} */

.todo-content-area, .checkin-content-area, .home-content-area{
	padding-top: 50px;
	width: 100%;
	position: relative;
	top: 80px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	min-height: 92.2%;
	/* min-height: 130%; */
}

.todo-content-area {
	background-image: url(https://images.pexels.com/photos/97050/pexels-photo-97050.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-attachment: fixed;
}


.checkin-content-area {
	background-image: url(https://images.pexels.com/photos/733857/pexels-photo-733857.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.home-content-area {
	background-image: url(https://images.pexels.com/photos/606542/pexels-photo-606542.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-attachment: fixed;
}

/* .content-area {
  	padding-top: 50px;
	width: 100%;
	position: relative;
	top: 460px;
	background: #ffccb9;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
  	min-height: 90%;
} */

.content-area h2 {
	font-family: poppins;
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.content-area p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}


#footer {
	position: fixed;
	width: 450px;
	height: 300px;
	bottom: 60px;
	right: 60px;
	background: transparent;
	
}

#footer .move-player,
#footer .exit-player {
	position: absolute;
	right: 0px;
	top: -30px;
	width: 32px;
	height: 32px;
	background: #000;
	color: #fff;
	opacity: 1;
	padding: 3px;
	cursor: pointer;
}

#footer .move-player {
	right: 32px;
	padding-top: 8px;
	cursor:move;
}

#image-upload-text {
	font-size: 25px;
	margin-left: 20px;
}

.private-text{
	font-size: 20px;
}

#comment-bubble {
	padding: 5px;
    margin: 5px;
}

.bars-icon {
	color: white;
	display: none;
	
}

@media only screen and (max-width: 950px) { 
	.navbar-light .navbar-nav .nav-link {
		text-decoration: none;
		font-family: poppins;
		letter-spacing: 0px;
		font-size: 20px;
		margin-left: 0px;
		margin-right: 0px;
		color: #fff;
	
	}

}

@media only screen and (max-width: 667px) { 
	.navbar-light .navbar-nav .nav-link {
		display: none;
		font-size: 13.5px;
		padding-right: 3px;
		padding-left: 3px;
	} 

	.top-nav-wrapper {
		justify-content: flex-start;
	}
	.bars-icon {
		color: white;
		display: block;
		padding-right: 75px;
		cursor: pointer;
	}
}

a {
	color: #fff;
}

a:hover {
	color: #fff;
}